@if (list() | filter:filterText(); as list) {

<div fxLayout="column" fxLayoutGap="20px">

  <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="20px">
    <div>&nbsp;</div>
    <mat-form-field appearance="outline" [style.margin-left.em]="1" [style.margin-right.em]="1">
      <mat-label>table filter</mat-label>
      <input (input)="filterText.set($any($event.target).value)" matInput placeholder="text">
      <mat-icon matSuffix>filter_list</mat-icon>
      <mat-hint>{{ list.length }}/{{ listQty }} rows in the table</mat-hint>
    </mat-form-field>

    <mat-card [style.padding.px]="10">
      <mat-card-title [style.text-align]="'center'">Sum</mat-card-title>
      <mat-card-content><strong>{{ sumPrice() | currency }}</strong></mat-card-content>
    </mat-card>

    <mat-card [style.padding.px]="10">
      <mat-card-title [style.text-align]="'center'">Actives</mat-card-title>
      <mat-card-content><strong>{{ activeQty() }}</strong></mat-card-content>
    </mat-card>
  </div>

  <table mat-table [dataSource]="list" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Desc. Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Desc. </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Desc. Column -->
    <ng-container matColumnDef="manage">
      <th mat-header-cell *matHeaderCellDef> manage </th>
      <td mat-cell *matCellDef="let element">
        <mat-button-toggle-group>
          <mat-button-toggle [routerLink]="['/product', 'edit', element.id]" class="info">
            <mat-icon>edit</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (click)="onRemove(element)" class="danger">
            <mat-icon>delete</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

}
