<div fxLayout="row">
  <div fxFlex="20" fxFlex.lt-md="1"></div>
  <div fxFlex="60" fxFlex.lt-md="98">
    <h3>Product Editor</h3>
    <form fxLayout="column" [formGroup]="form" (ngSubmit)="saveDetails(form)">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input type="number" formControlName="price" matInput>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-checkbox class="example-margin"
                  [color]="'primary'"
                  formControlName="active">
      active
    </mat-checkbox>

    <button mat-raised-button color="primary">Primary</button>
    </form>
  </div>
  <div fxFlex="20" fxFlex.lt-md="1"></div>
</div>
